/*Image shapes-------------------------------------------*/

.img-circle {
  border-radius: 50%;
}
.img-thumbnail {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.img-shapes {
  margin: 10px;
}
