<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hoge</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script src="jquery-2.2.3.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="wrapper">
    <!--================ icon ===================-->

    <div class="tabs">
      <div class="tab-p">ACCORDION / TABS</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <!--================ tab item ===================-->

    <div class="menu">
      <ul class="menu-nav01">
        <li><a href="#">Tab Item</a></li>
        <li><a href="#">Another Tab</a></li>
        <li><a href="#">Third</a></li>
        <li><a href="#">Last Item</a></li>
      </ul>

    <div class="menu-p">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.
      </p>
    </div><!-- end#menu-p -->
    </div><!-- end#item-meni1 -->

    <div class="menu">
    <div class="menu-nav01 menu-nav02">
      <ul>
        <li><a href="#">Tab Item</a></li>
        <li><a href="#">Another Tab</a></li>
        <li><a href="#">Third</a></li>
        <li><a href="#">Last Item</a></li>
      </ul>
    </div><!--#end item-menu-->

    <div class="menu-p2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.
      </p>
    </div><!-- end#menu-p -->
    </div><!-- end#menu2 -->


    <!--================ cards ===================-->

    <div class="tabs">
      <div class="tab-p">CARDS</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="cards">
      <div class="card left">
        <p><img src="http://placehold.jp/24/cc9999/993333/270x150.png"></p>
        <h2>First Card</h2>
        <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>

      <div class="card center">
        <p><img src="http://placehold.jp/24/cc9999/993333/270x150.png"></p>
        <h2>Another Card</h2>
        <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>

      <div class="card right">
        <p><img src="http://placehold.jp/24/cc9999/993333/270x150.png"></p>
        <h2>The Last Card</h2>
        <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>

    </div><!--#end cards-->

    <!--================ CENTERED NAVIGATION ===================-->

    <div class="tabs">
      <div class="tab-p">CENTERED NAVIGATION</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="nav">
      <ul class="nav-bar">
        <li><a href="#">Products</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Testimonials</a></li>
        <li class="nav-more">
              <a href="#">More</a>
              <ul class="nav-sub"> 
                <li><a href="#">Submenu Item</a></li>
                <li><a href="#">Another Item</a></li>
                <li class="nav-more nav-more02">
                    <a href="#">Item with submenu</a>
                    <ul class="nav-sub nav-sub02">
                      <li><a href="#">Sub-submenu Item</a></li>
                      <li><a href="#">Another Item</a></li>
                   </ul>
                 </li>
                <li class="nav-more nav-more02">
                  <a href="#">Another submenu</a>
                  <ul class="nav-sub nav-sub02">
                    <li><a href="#">Sub-submenu</a></li>
                    <li><a href="#">An Item</a></li>
                  </ul>
                </li>
              </ul>
          </li>
        <li><a href="#">Sign up</a></li>
      </ul>

    </div><!-- end#navi-menu -->

    <!--================ COMMENTS ===================-->


    <div class="tabs">
      <div class="tab-p">COMMENTS</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="comments">  
    <p class="img"><img src="http://placehold.jp/70x70.png"></p>

    <div class="comments-body"> 
    <h2>First Comment Title or Author</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
    <p>Date or details about this post</p>
    </div><!-- end#comments-body -->

    </div><!-- end#comments -->

    <div class="comments">  
    <p class="img"><img src="http://placehold.jp/70x70.png"></p>

    <div class="comments-body"> 
    <h2>First Comment Title or Author</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
    <p>Date or details about this post</p>
    </div><!-- end#comments-body -->

    </div><!-- end#comments -->


    <!--================ BOXS ===================-->

    <div class="tabs">
      <div class="tab-p">FLEX BOXES</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="flex-wrapper">

    <div class="flex-boxes">
      <div class="flex-box box-big">

        <a href="#">
          <p><img src="http://placehold.jp/80x60.png">
          <h2 class="flex-title">A Wide Flex Box Item</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum, libero! Laborum distinctio necessitatibus voluptates eaque officiis, unde illo, earum voluptatum rerum, reiciendis ipsa ex dolorem a dicta, maxime aliquam.</p>
        </a>
     </div><!-- end#box-big -->

      <div class="flex-box">
        <a href="#">
          <p><img src="http://placehold.jp/80x60.png"></p>
          <h2 class="flex-title">Flex Box Item</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.</p>
        </a>
      </div><!-- end#box -->

      <div class="flex-box">
        <a href="#">
          <p><img src="http://placehold.jp/80x60.png"></p>
          <h2 class="flex-title">A Flex Box Item</h2>
          <p>Lorem adipisicing elit. Voluptas consectetur tempora quis nam, officia tenetur blanditiis in illo dolor?</p>
        </a>
      </div><!-- end#box -->

     <div class="flex-box box-big">
        <a href="#">
          <p><img src="http://placehold.jp/80x60.png">
          <h2 class="flex-title">Another Wide Item</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quis ipsum, officia, aperiam tenetur dolor molestiae voluptate perferendis dolorem vel ex, unde fugit blanditiis sapiente.</p>

        </a>
     </div><!-- end#box-big -->


      <div class="flex-box">

        <a href="#">
          <p><img src="http://placehold.jp/80x60.png">
          <h2 class="flex-title">Flex Box Item</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati in provident illo.</p>
        </a>
     </div><!-- end#box-big -->

      <div class="flex-box">
        <a href="#">
          <p><img src="http://placehold.jp/80x60.png"></p>
          <h2 class="flex-title">Last Flex Box Item</h2>
          <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </a>
      </div><!-- end#box -->

    </div><!-- end#flex-boxes -->

    </div><!-- end#flex-wrapper -->

    <!--============= Stacked-to-horizontal ================-->

    <div class="tabs">
      <div class="tab-p">Stacked-to-horizontal</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="col-md-wrapper">

      <div class="col-content">
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
      </div><!-- end#col-content -->

       <div class="col-content">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-4">.col-md-4</div>
      </div><!-- end#col-content -->

       <div class="col-content">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
      </div><!-- end#col-content -->
   
        <div class="col-content">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
      </div><!-- end#col-content -->
    </div><!-- end#col-md-wrapper -->

   <!--============= Responsive column resets ================-->

    <div class="tabs">
      <div class="tab-p">Responsive column resets</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="col-xs-wrapper">
      <div class="col-content-row">
        <div class="col-xs-6">
          <p>.col-xs-6 .col-sm-3 </p>
          <p>Resize your viewport or check it out on your phone for an example.</p>
        </div><!-- end#col-xs-6 -->
       <div class="col-xs-6 col-sm-3">
          <p>.col-xs-6 .col-sm-3 </p>
       </div><!-- end#col-xs-6 -->

       <div class="col-xs-6 col-sm-3">
          <p>.col-xs-6 .col-sm-3 </p>
       </div><!-- end#col-xs-6 -->
       <div class="col-xs-6 col-sm-3">
          <p>.col-xs-6 .col-sm-3 </p>
       </div><!-- end#col-xs-6 -->
     </div><!-- end#col-content-row-->
   </div><!-- end#col-xs-wrapper -->

   <!--============= Offsetting columns ================-->

    <div class="tabs">
      <div class="tab-p">Offsetting columns</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="col-content">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4 col-md-offset-4">.col-md-offset-4</div>
   </div><!-- end#col-content -->

    <div class="col-content">
      <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
      <div class="col-md-3 col-md-offset-3">.col-md-3.col-md-offset-3</div>
   </div><!-- end#col-content -->

    <div class="col-content">
      <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
   </div><!-- end#col-content -->

   <!--============= Table ================-->

    <div class="tabs">
      <div class="tab-p">Table</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="table-normal-wrapper">
      <table class="table-normal">
      <tr>
        <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th>
      </tr>
      <tr>
        <th>1</th><td>Mark</td><td>Otto</td><td>@mdo</td>
      </tr>
      <tr>
        <th>2</th><td>Jacob</td><td>Thornton</td><td>@fat</td>
      </tr>
      <tr>
        <th>3</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
      </tr>
      </table>
    </div><!-- end#table-normal-wrapper -->

   <!--============= Striped rows ================-->

    <div class="tabs">
      <div class="tab-p">Striped rows</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="table-rowa-wrapper">

      <table class="table-normal table-rows">
        <tr>
          <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th>
        </tr>
        <tr>
          <th>1</th><td>Mark</td><td>Otto</td><td>@mdo</td>
        </tr>
        <tr>
          <th>2</th><td>Jacob</td><td>Thornton</td><td>@fat</td>
        </tr>
        <tr>
          <th>3</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
        </tr>
      </table>
    </div><!-- end#table-rows-wrapper -->

   <!--================= Hover rows ====================-->

    <div class="tabs">
      <div class="tab-p">Hover rows</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="table-hover-wrapper">

      <table class="table-normal table-hover">
        <tr>
          <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th>
        </tr>
        <tr>
          <th>1</th><td>Mark</td><td>Otto</td><td>@mdo</td>
        </tr>
        <tr>
          <th>2</th><td>Jacob</td><td>Thornton</td><td>@fat</td>
        </tr>
        <tr>
          <th>3</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
        </tr>
      </table>
    </div><!-- end#table-hover-wrapper -->

   <!--================= Forms ====================-->

    <div class="tabs">
      <div class="tab-p">Forms</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="form-wrapper">
      <form>

      <p><label for="email">Email address</label><br />
        <input type="text" name="email" placeholder="Email" id="email" class="forms-name" /></p>
      <p><label for="pass">Password</label><br />
        <input type="text" name="password" placeholder="Password" id="pass" class="forms-pass" /></p>

        <p><label for="file">File input</label><br />
          <input type="file" name="file" id="file"/><br /></p>
        <p class="text">Example block-level help text here.</p>

        <p><input type="checkbox" name="check" id="check"><label for="check">Check me out</label></p>

        <button type="submit" name="submit">Submit</button>

      </form>
    </div><!-- end#form-wrapper -->

   <!--================= Inline form ====================-->

    <div class="tabs">
      <div class="tab-p">Inline form</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="inline-form-wrapper">
      <form>

        <p><label for="name">name</label>
          <input type="text" name="name" placeholder="name" id="name" class="inline-name" />
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" id="email" class="inline-email" />
        <button type="submit" name="submit">Send invitation</button></p>

     </form>
    </div><!-- end#inline-form-wrapper -->

   <!--================= Textarea ====================-->

    <div class="tabs">
      <div class="tab-p">Textarea</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="textarea-wrapper">

     <textarea cols="70" rows="5" placeholder="Textarea"></textarea>

    </div><!-- end#textarea-wrapper -->

   <!--============ Checkboxes and radios ==============-->

    <div class="tabs">
      <div class="tab-p">Checkboxes and radios</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="check-radio-wrapper">

      <p><input type="checkbox" name="option" value="option-one" id="check1"><label for="check1">Option one is this and that—be sure to include why it's great</label></p>

      <p><input type="checkbox" name="option" value="option-two" disabled="disabled" id="check2"><label for="check2">Option two is disabled</label></p>

      <p><input type="radio" name="radio" value="radio-one" id="radio1">
      <label for="radio1">Option one is this and that—be sure to include why it's great</label></p>
      <p><input type="radio" name="radio" value="radio-two" id="radio2">
      <label for="radio2">Option two can be something else and selecting it will deselect option one</label></p>
      <p><input type="radio" name="radio" value="radio-three" disabled="disabled" id="radio3">
      <label for="radio3">Option three is disabled</label></p>    

    </div><!-- end#check-radio-wrapper -->

   <!--=========== Inline checkboxes and radios ==============-->

    <div class="tabs">
      <div class="tab-p">Inline checkboxes and radios</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="inline-checkbox">
      <p><input type="checkbox" name="inline-check" value="inline-1" id="inline-1"><label for="inline-1">1</label>
      <input type="checkbox" name="inline-check" value="inline-2" id="inline-2"><label for="inline-2">2</label>
      <input type="checkbox" name="inline-check" value="inline-3" id="inline-3"><label for="inline-3">3</label></p> 

      <p><input type="radio" name="inline-check" value="inline-radio1" id="inline-radio1"><label for="inline-radio1">1</label>
      <input type="radio" name="inline-check" value="inline-radio2" id="inline-radio2"><label for="inline-radio2">2</label>
      <input type="radio" name="inline-check" value="inline-radio3" id="inline-radio3"><label for="inline-radio3">3</label></p>
    </div><!-- end#inline-checkbox -->


   <!--================ Selects ====================-->

    <div class="tabs">
      <div class="tab-p">Selects</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="select-wrapper">

    <select class="form-select" size="4">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
    </div><!-- end#select-wrapper -->

   <!--================ option ====================-->

    <div class="tabs">
      <div class="tab-p">option</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="button-wrapper">

    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>    
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>

    </div><!-- end#button -->

   <!--================ button block ====================-->

    <div class="tabs">
      <div class="tab-p">button block</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="btn-block-wrapper">

      <button type="button" class="btn btn-block block-1">
      Block level button
      </button>
      <button type="button" class="btn btn-block block-2">
      Block level button
      </button>

    </div><!-- end#btn-block-wrapper -->

   <!--================ Button element ====================-->

    <div class="tabs">
      <div class="tab-p">Button element</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="button-element-wrapper">

    <button type="button" class="btn btn-element element-1">
    Primary button
    </button>
    <button type="button" class="btn btn-element element-2">
    Button
    </button>

    </div><!-- end#button-element-wrapper -->

   <!--================ Image shapes ====================-->

    <div class="tabs">
      <div class="tab-p">Image shapes</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="image-shapes-wrapper">

      <p><img class="img-shapes img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTRhZTVkMjI3ZCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NGFlNWQyMjdkIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=">
      <img class="img-shapes img-circle" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTRhZTVkMjI3ZCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NGFlNWQyMjdkIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=">
      <img class="img-shapes img-thumbnail" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTRhZTVkMjI3ZCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NGFlNWQyMjdkIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="></p>

    </div><!-- end#image-wappaer -->

   <!--================ Contextual colors ====================-->

    <div class="tabs">
      <div class="tab-p">Contextual colors</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="contextual-wrapper">

      <div class="contextual column-1">
        <h1>Dealing with specificity</h1>
        <p>Sometimes emphasis classes cannot be applied due to the specificity of another selector. In most cases, a sufficient workaround is to wrap your text in a <span class="contextual-span">&lt;span&gt;</span> with the class.</p>
      </div>
      <div class="contextual column-2">
        <h1>Conveying meaning to assistive technologies</h1>
        <p>Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (the contextual colors are only used to reinforce meaning that is already present in the text/markup), or is included through alternative means, such as additional text hidden with the <span class="contextual-span">.sr-only</span> class.</p>
      </div>

    </div><!-- end#contextual-wrapper -->


   <!--============= Contextual backgrounds ===============-->

    <div class="tabs">
      <div class="tab-p">Contextual backgrounds</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="contextual-bg-wrapper">

    <div class="contextual-bg bg-1">
    Nullam id dolor id nibh ultricies vehicula ut id elit.
    </div>
    <div class="contextual-bg bg-2">
    Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
    </div>
    <div class="contextual-bg bg-3">
    Maecenas sed diam eget risus varius blandit sit amet non magna.
    </div>
    <div class="contextual-bg bg-4">
    Etiam porta sem malesuada magna mollis euismod.
    </div>
    <div class="contextual-bg bg-5">
    Donec ullamcorper nulla non metus auctor fringilla.
    </div>

    </div><!-- end#contextual-bg-wrapper -->



   <!--================ Available classes ====================-->

    <div class="tabs">
      <div class="tab-p">Available classes</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="table-wrapper">

    <table class="dammy-table">
      <tr><!-- １行目 -->
        <th>NON</th>
        <th>dammy
        <small class="dammy-size">non</small>
        </th>
        <th>dammy
        <small class="dammy-size">non</small>
        </th>
        <th>dammy
        <small class="dammy-size">non</small>
        </th>
        <th>dammy
        <small class="dammy-size">non</small>
        </th>
      </tr>
      <tr><!-- 2行目 -->
        <th><span class="bg-cl">dammy</span></th>
        <td class="is-non">non</td>
        <td>non</td>
        <td>non</td>
        <td>non</td>
      </tr>
      <tr><!-- 3行目 -->
        <th><span class="bg-cl">dammy</span></th>
        <td>non</td>
        <td class="is-non">non</td>
        <td>non</td>
        <td>non</td>
      </tr>
      <tr><!-- 4行目 -->
        <th><span class="bg-cl">dammy</span></th>
        <td>non</td>
        <td>non</td>
        <td class="is-non">non</td>
        <td>non</td>
      </tr>
      <tr><!-- 5行目 -->
        <th><span class="bg-cl">dammy</span></th>
        <td>non</td>
        <td>non</td>  
        <td>non</td>
        <td class="is-non">non</td>
      </tr>
      <tr><!-- 6行目 -->
        <th><span class="bg-cl">dammy</span></th>
        <td>non</td>
        <td class="is-non">non</td>
        <td class="is-non">non</td>
        <td class="is-non">non</td>
      </tr>
      <tr><!-- 7行目 -->
        <th><span class="bg-cl">dammy</span></th>
        <td class="is-non">non</td>
        <td>non</td>
        <td class="is-non">non</td>
        <td class="is-non">non</td>
      </tr>
      <tr><!-- 8行目 -->
        <th><span class="bg-cl">dammy</span></th>
        <td class="is-non">non</td>
        <td class="is-non">non</td>
        <td>non</td>
        <td class="is-non">non</td>
      </tr>
      <tr><!-- 9行目 -->
        <th><span class="bg-cl">dammy</span></th>
        <td class="is-non">non</td>
        <td class="is-non">non</td>
        <td class="is-non">non</td>
        <td>non</td>
      </tr>

    </table>
    </div><!-- end#avaiable-table -->

   <!--================ Dropdowns ====================-->

    <div class="tabs">
      <div class="tab-p">Dropdowns</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="dropdown-wrapper">
      <div class="dropdown-body">
        <p class="dropdown-name">Project Name</p>
        <a href="#" class="button-1" role="button">Dropdown</a>
        <a href="#" class="button-2" role="button">Dropdown</a>
      </div>

    <ul class="dropdown-list list-1"> 
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="list-border"></li>
      <li><a href="#">separated link</a></li>
    </ul>
    <ul class="dropdown-list list-2"> 
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="list-border"></li>
      <li><a href="#">separated link</a></li>
    </ul>

    </div><!-- end#dropdown-wrapper -->

   <!--================ SCROLL ON PAGE ====================-->

    <div class="tabs">
      <div class="tab-p">SCROLL ON PAGE</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="target-body">

     <div class="target-content">

      <div class="target-container">
      <h2 id="target-first" class="target-title">First Target</h2>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?
        </p>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?
        </p>
      </div><!-- emd#target-container -->

      <div class="target-container">
        <h2 id="target-second" class="target-title">Second Target</h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?
          </p>
        </div><!-- emd#target-container -->

      <div class="target-container">
        <h2 id="target-last" class="target-title">Last Target</h2>
          <p>
          lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?
          </p>
        </div><!-- emd#target-container -->
      </div><!-- end#target-content -->

        <div class="target-list">
          <ul>
            <li><a href="#target-first">First Scroll Link</a></li>
            <li><a href="#target-second">Second Link</a></li>
            <li><a href="#target-last">Last Link</a></li>
          </ul>
        </div><!-- end#target-list -->

     </div><!-- end#target-body -->

   <!--================ EXPANDER ====================-->

    <div class="tabs">
      <div class="tab-p">EXPANDER</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="expander-wrapper">

    <div class="expander-title">
      <a href="#">Expander section</a>
    </div>

    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.
    </p>
    </div>

   <!--================ PAGINATION ====================-->

    <div class="tabs">
      <div class="tab-p">PAGINATION</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="pagination-wrapper">

      <ul class="pagination-menu">
        <li><a href="#">Prev</a>
        <ul>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
        </ul>
        </li>
        <li><a href="#">Next</a></li>
      </ul>
  
    </div>


   <!--================ SLIDING PANEL ====================-->

    <div class="tabs">
      <div class="tab-p">SLIDING PANEL</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="slide-menu-wrapper">

    <button  type="button" class="slide-menu">
    Click for Sliding Panel
   </button>

   <ul class="slide-list">
     <li><a href ="#">Item 1</a></li>
     <li><a href ="#">Item 2</a></li>
     <li><a href ="#">Item 3</a></li>
    </ul>

 </div>



   <!--================ Typography ====================-->

    <div class="tabs">
      <div class="tab-p">Typography</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="typography-wrapper">

    <div class="typography-text">
    <p class="small">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="typography-text">
    <p class="base">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="typography-text">
    <p class="medium">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="typography-text">
    <p class="large">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="typography-text">
    <p class="xlarge">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="typography-text">
    <p class="xxlarge">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="typography-text">
    <p class="huge">Lorem ipsum dolor sit amet.</p>
    </div>

    </div><!-- end#typgraphy-wrapper -->

   <!--================ buttons ====================-->

    <div class="tabs">
      <div class="tab-p">buttons</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="buttons-wrapper">

    <p>
      <a href="#" class="buttons">Use our tool</a>
    </p>
  </div>

   <!--================ Secondary buttons ====================-->

    <div class="tabs">
      <div class="tab-p">Secondary buttons</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="buttons-wrapper">

      <p>
        <a href="#" class="buttons secondary-btn-01">Use our tool</a>
      </p>

      <p class="secondary-btn-02-p">
        <a href="#" class="buttons secondary-btn-01 secondary-btn-02">Use our tool</a>
      </p>

    </div>

   <!--================ lists ====================-->

    <div class="tabs">
      <div class="tab-p">lists</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="list-wrapper">

      <p class="list-title">Default lists</p>

      <p class="list-style">ul</p>
      
      <div class="default-list">

        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Dicta optio cumque dolore hic ea facilis</li>
          <li>Minus, possimus, veniam, incidunt eligendi</li>
        </ul>
      
      </div>
  
      <p class="list-style">ol</p>

      <div class="default-list">
        <ol>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Dicta optio cumque dolore hic ea facilis</li>
          <li>Minus, possimus, veniam, incidunt eligendi</li>
        </ol>
      </div>

    <p class="list-title">Default lists of links</p>

      <p class="list-style">ul</p>

        <div class="default-list">
          <ul class="default-link">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
            <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
          </ul>
        </div>

      <p class="list-style">ol</p>

        <div class="default-list">
          <ol class="default-link">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
            <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
          </ol>
        </div>

        <div class="default-list">
          <ol class="default-link">
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
            <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
          </ol>
        </div>


    </div>


   <!--================ links ====================-->

    <div class="tabs">
      <div class="tab-p">links</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="link-wrapper">
      <p>Primary</p>
      <a href="#">Use our tool</a>

      <p>Secondary</p>
      <a href="#">Use our tool</a>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">use our tool</a> Fugiat, quam alias voluptatem tempora minus dolor facere cumque necessitatibus placeat velit aliquid ab dolore beatae. Neque ipsam in a illum repellendus?</p>

    </div>


   <!--================ Breadcrumbs ====================-->

    <div class="tabs">
      <div class="tab-p">Breadcrumbs</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="pankz-wrapper">
      <a href="#">Link 1</a>/
      <a href="#">Link 2</a>/
      <a href="#">Link 3</a>/
      <a href="#">Link 4</a>


    </div>


   <!--================ table ====================-->

    <div class="tabs">
      <div class="tab-p">table</div><!--end#tab-p-->
    </div><!-- end#tabs -->

      <div class="table-05-wrapper">

        <table>
          <tr>
            <th>Element</th>
            <th>Availability</th>
            <th>Description</th>
            <th>Description</th>
          </tr>
          <tr> 
            <td>src</td>
            <td>All browsers</td>
            <td>Gives the address (URL) of the video.</td>
            <td>Gives the address (URL) of the video.</td>
          </tr>
          <tr> 
            <td>poster</td>
            <td>All browsers</td>
            <td>Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
            <td>Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
          </tr>

        </table>

        <table>
          <tr>
            <th>Element</th>
            <th>Availability</th>
            <th>Description</th>
          </tr>
          <tr> 
            <td>src</td>
            <td>All browsers</td>
            <td>Gives the address (URL) of the video.</td>
          </tr>
          <tr> 
            <td>poster</td>
            <td>All browsers</td>
            <td>Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
          </tr>

        </table>

        <table>
          <tr>
            <th>Element</th>
            <th>Availability</th>
          </tr>
          <tr> 
            <td>src</td>
            <td>All browsers</td>
          </tr>
          <tr> 
            <td>poster</td>
            <td>All browsers</td>
          </tr>

        </table>



      </div>


   <!--================ Documentation ====================-->

    <div class="tabs">
      <div class="tab-p">Documentation</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="dcument-wrapper">

      <div class="container">

       <div class="layouts">

        <div class="dcument-content">
          <a href="#" class="dcument-title">Multi-Device Layouts</a>

          <p class="dcument-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, velit, illum iure id in saepe laborum. Doloribus, eaque, assumenda inventore eos iusto tenetur error dolorem suscipit molestiae natus ullam aliquam?</p>
        </div><!-- end#dcument-content -->

        <ol>
          <li><a href="#">Responsive Web Design Fundamentals</a></li>
          <li><a href="#">Responsive Web Design Patterns</a></li>
          <li><a href="#">Navigation and Action Patterns</a></li>
        </ol>  

        </div><!-- end#layouts -->

      <div class="layouts">

        <div class="dcument-content">
          <a href="#" class="dcument-title image-title">Images, Audio and Video</a>

          <p class="dcument-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, velit, illum iure id in saepe laborum. Doloribus, eaque, assumenda inventore eos iusto tenetur error dolorem suscipit molestiae natus ullam aliquam?</p>
        </div><!-- end#dcument-content -->

        <ol>
          <li><a href="#">Images</a></li>
          <li><a href="#">Video</a></li>
          <li><a href="#">Audio</a></li>
        </ol>  



      </div><!-- end#layouts -->


       <div class="layouts">

        <div class="dcument-content">
          <a href="#" class="dcument-title form-title">Forms and User Input</a>

          <p class="dcument-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, adipisci, aspernatur. Velit, consequatur, temporibus, neque minus obcaecati dolor officia architecto voluptatem et pariatur quo vitae saepe laborum ratione eum. Soluta.</p>
        </div><!-- end#dcument-content -->

        <ol>
          <li><a href="#">Create Amazing Forms</a></li>
          <li><a href="#">Add Touch to Your Site</a></li>
        </ol>  

        </div><!-- end#layouts -->

      <div class="layouts">

        <div class="dcument-content">
          <a href="#" class="dcument-title optimizing-title">Optimizing Performance</a>

          <p class="dcument-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ratione officia officiis natus illum quos cumque quis! Optio, dolore, eligendi ea culpa quod esse atque architecto reprehenderit at tempora itaque!</p>
        </div><!-- end#dcument-content -->

        <ol>
          <li><a href="#">Critical Rendering Path</a></li>
          <li><a href="#">Optimizing Content Efficiency</a></li>
        </ol>  



      </div><!-- end#layouts -->

     </div><!-- end#container -->
    </div><!-- end#dcument-wrapper -->

  

   <!--================ Featured list ====================-->

    <div class="tabs">
      <div class="tab-p">Featured list</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="featured-list-wrapper">

     <div class="featured-container">

     <div class="featured-content">
     <h3 class="featured-title">Case study</h3>

     <p class="featured-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>

     <a href="#">View Google</a>

     </div><!-- end#featured-content -->

     <div class="featured-img"></div>

     </div><!-- end#featured-contianer -->

     <div class="featured-container">

     <div class="featured-content">
     <h3 class="featured-title">Case study</h3>

     <p class="featured-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>

     <a href="#">View Google</a>

     </div><!-- end#featured-content -->

     <div class="featured-img"></div>

     </div><!-- end#featured-contianer -->

    </div><!-- end#featured-list-wrapper -->



   <!--================ FLEX BOX ====================-->

    <div class="tabs">
      <div class="tab-p">FLEX BOX</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="flex-box02">

    <!-- 一列目 -->
    <div class="flex-big">
      <a href ="#">
      <p><img src="http://placehold.jp/80x60.png"></p>
      <h2>A Wide Flex Box Item</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum, libero! Laborum distinctio necessitatibus voluptates eaque officiis, unde illo, earum voluptatum rerum, reiciendis ipsa ex dolorem a dicta, maxime aliquam.</p>
      </a>
    </div><!-- end#flex-big -->

    <div class="flex-small">
     <a href ="#">
      <p><img src="http://placehold.jp/80x60.png"></p>
      <h2>Flex Box Item</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.</p>
     </a>
    </div>

    <!-- 二列目 -->

    <div class="flex-small">
     <a href ="#">
      <p><img src="http://placehold.jp/80x60.png"></p>
      <h2>Flex Box Item</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.</p>
     </a>
    </div>

    <div class="flex-big">
      <a href ="#">
      <p><img src="http://placehold.jp/80x60.png"></p>
      <h2>A Wide Flex Box Item</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum, libero! Laborum distinctio necessitatibus voluptates eaque officiis, unde illo, earum voluptatum rerum, reiciendis ipsa ex dolorem a dicta, maxime aliquam.</p>
      </a>
    </div><!-- end#flex-big -->

    <!-- 三列目 -->
    <div class="flex-small">
     <a href ="#">
      <p><img src="http://placehold.jp/80x60.png"></p>
      <h2>Flex Box Item</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.</p>
     </a>
    </div>
    <div class="flex-small">
     <a href ="#">
      <p><img src="http://placehold.jp/80x60.png"></p>
      <h2>Flex Box Item</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.</p>
     </a>
    </div>


    </div>



    </div><!-- end#vertical -->


   <!--================ Nesting ====================-->

    <div class="tabs">
      <div class="tab-p">Nesting</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="nesting js-nesting">

      <div class="nesting-bt"><a href="#">1</a></div>
      <div class="nesting-bt"><a href="#">2</a></div>
      <div class="nesting-bt nesting-dropdown"><a href="#">Dropdown1</a>
      <ul class="nesting-dropdown-list">
        <li><a href="#">Dropdown link</a></li>
        <li><a href="#">Dropdown link</a></li>
      </ul>
      </div>
      <div class="nesting-bt nesting-dropdown"><a href="#">Dropdown2</a>
      <ul class="nesting-dropdown-list">
        <li><a href="#">Dropdown link</a></li>
        <li><a href="#">Dropdown link</a></li>
      </ul>
      </div>
    </div>

<!-- 
nesting-dropdown a + ul

$(".nesting-dropdown a").next('ul')

 -->


   <!--================ VERTICAL TABS ====================-->

    <div class="tabs">
      <div class="tab-p">VERTICAL TABS</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="vertical-tab">

      <ul>
        <li class="item-1 js-vertical-list"><a href="#">Item 1</a></li>
        <li class="item-2 js-vertical-list"><a href="#">Item 2</a></li>
        <li class="item-3 js-vertical-list"><a href="#">Item 3</a></li>
        <li class="item-4 js-vertical-list"><a href="#">Item 4</a></li>
        </ul>
  
      <div class="vertical-text">
      <p id="item-1" class="js-vertical-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
      <p id="item-2" class="js-vertical-text">Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum.</p>
      <p id="item-3" class="js-vertical-text">Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
      <p id="item-4" class="js-vertical-text">Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>

      </div>
    </div>    

   <!--================ Custom content ====================-->

    <div class="tabs">
      <div class="tab-p">Custom content</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="custom-content">

      <div class="custom-container">
        <img src="http://placehold.jp/24/cc9999/993333/241x200.png">

        <div class="custom-text">
          <h2>Thumbnail label</h2>
          <p class="com">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

          <p class="custom-btn"><a href="#">Button</a></p>
          <p class="custom-btn"><a href="#">Button</a></p>
        </div><!-- end#custom-text -->
      </div><!-- end#custom-container -->

      <div class="custom-container">
        <img src="http://placehold.jp/24/cc9999/993333/241x200.png">

        <div class="custom-text">
          <h2>Thumbnail label</h2>
          <p class="com">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

          <p class="custom-btn"><a href="#">Button</a></p>
          <p class="custom-btn"><a href="#">Button</a></p>
        </div><!-- end#custom-text -->
      </div><!-- end#custom-container -->

      <div class="custom-container">
        <img src="http://placehold.jp/24/cc9999/993333/241x200.png">

        <div class="custom-text">
          <h2>Thumbnail label</h2>
          <p class="com">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

          <p class="custom-btn"><a href="#">Button</a></p>
          <p class="custom-btn"><a href="#">Button</a></p>
        </div><!-- end#custom-text -->
      </div><!-- end#custom-container -->

    </div><!-- end#custom-content -->


   <!--================ Live demo ====================-->

    <div class="tabs">
      <div class="tab-p">Live demo</div><!--end#tab-p-->
    </div><!-- end#tabs -->

    <div class="btn-demo-modal">

      <p class="click-btn js-modal-launch-btn"><a href="#">Launch demo modal</a></p>

    </div><!-- end#demo-modal -->

    <div class="modal-main js-modal">
      <div class="modal-content">

        <div class="modal-header">
          <h1>Modal title</h1>
        </div><!-- end#header -->

        <div class="modal-body">
          <h2>Text in a modal</h2>
          <p class="modal-text">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

          <h2>Popover in a modal</h2>
          <p class="modal-text">This button should trigger a popover on click.</p>

          <h2>Tooltips in a modal</h2>
          <p class="modal-text">This link and that link should have tooltips on hover.</p>

          <h2>Overflowing text to show scroll behavior</h2>
          <p class="modal-text">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

          Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.

          Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

          Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.

          Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

          Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>

        </div><!-- end#modal-body -->

          <div class="modal-main-footer">
            <p class="modal-close-btn"><a href="#">close</a></p>
            <p class="modal-save-btn"><a href="#">Save changes</a></p>
          </div><!-- end#modal-main-footer -->

      </div><!-- end#modal-content -->

      <div class="overlay"></div>

    </div><!-- end#modal-main -->

   <!--================ NON ====================-->

    <div class="tabs">
      <div class="tab-p">NON</div><!--end#tab-p-->
    </div><!-- end#tabs -->

  </div><!-- end#wrapper -->
  </body>
</html>



